{% extends 'base.html' %}
{% load extras %}
{% block title %}
    Список статей
{% endblock %}
{% block body %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div class="col-md-10 col-sm-12 m-auto">
            {% for article in articles %}
                <a href="{% url 'article' article.id %}">
                    <div>
                        <h5>{{ article.subject }}</h5>
                        <div>{{ article.publication_date }}</div>
                        <p>{{ article.get_short_text }}</p>
                    </div>
                </a>
            {% endfor %}
            <nav class="text-center">
                <ul class="pagination d-flex justify-content-center">
                    {% if paginator.current_page == 1 %}
                        <li class="page-item disabled">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                        <a class="page-link" href="?page={{ paginator.current_page|dec }}" tabindex="-1">Назад</a>
                    </li>
                    {% for page_number in paginator.page_lrange %}
                        {% if paginator.current_page == page_number %}
                            <li class="page-item active">
                        {% else %}
                            <li class="page-item">
                        {% endif %}
                            <a class="page-link" href="?page={{ page_number }}">
                                {{ page_number }} <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {% endfor %}
                    {% if paginator.current_page == paginator.num_pages %}
                        <li class="page-item disabled">
                    {% else %}
                        <li class="page-item">
                    {% endif %}
                        <a class="page-link" href="?page={{ paginator.current_page|inc }}">Вперёд</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}